h1 {
    color: white;
    padding-top: 90px; 
    padding-bottom: 20px; 
    font: bold 3.0em sans-serif;
  }
  
  /* Product list styles */
  .product-list {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 20px;
  }
  
  .product-card {
    background: rgba(255, 255, 255, 0.1);
    border-radius: 10px;
    padding: 10px;
    box-shadow: 0 0 15px rgba(0, 0, 0, 0.2);
    transition: transform 0.3s ease;
  }
  
  .product-card:hover {
    transform: translateY(-10px);
  }
  
  .card-deck {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
  }
  
  .w3-button {
    background-color: #000;
    color: #fff;
  }
  
  .w3-button:hover {
    background-color: #444;
  }
  
  .w3-text {
    color: #ffd700;
  }

  
/* Pagination controls styles */
.pagination-controls {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 10px;
  color: white;
}

.pagination-button {
  color: black;
  font: bold 1.1em sans-serif;
  padding: 0.5rem 1rem;
  margin: 0 10px;
  background: rgb(255, 182, 58);
  background: -webkit-linear-gradient(to right, rgb(254, 223, 52), rgb(255, 155, 85));
  background: linear-gradient(to right, rgb(254, 223, 52), rgb(255, 155, 85));
  border: none;
  border-radius: 3px;
  cursor: pointer;
  transition: background 0.3s ease, transform 0.3s ease;
}

.pagination-button:disabled {
  background: #ccc;
  cursor: not-allowed;
}

.pagination-button:not(:disabled):hover {
  transform: translateY(-2px);
  background: rgb(255, 155, 85);
  background: -webkit-linear-gradient(to right, rgb(254, 223, 52), rgb(255, 85, 85));
  background: linear-gradient(to right, rgb(254, 223, 52), rgb(255, 85, 85));
}

.pagination-info {
  font-family: Arial, sans-serif;
  margin: 0 10px;
}
